// new
@import "../../sass/main.scss";

.task-tag {
  margin-right: 52px;
  width: 52px;
  height: 14px;
  font-family: Rubik;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

.task-tag-bolder {
  width: 52px;
  height: 14px;
  font-family: Rubik;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #15225a;
}

.task-name {
  width: 207px;
  height: 32px;
  font-family: Rubik;
  font-size: 28px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: normal;
  color: #2e384d;
}

.task-description {
  width: 170px;
  height: 19px;
  font-family: Rubik;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

.task-detail-one {
  @include sm {
    width: 100%;
  }
  @include lg {
    width: 60%;
  }
}
.task-detail-two {
  @include sm {
    width: 100%;
  }
  @include lg {
    width: 30%;
  }
}

.task-assets {
  width: 37px;
  height: 14px;
  font-family: Rubik;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

.task-detail-two-header{
  width: 54px;
  height: 14px;
  font-family: Rubik;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}


.task-detail-username {
  width: 127px;
  height: 14px;
  font-family: Rubik;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}