@import '../../sass/main.scss';

.detail-enviroment-page {
  .project-action-buttons > button {
    @include md {
      width: 100%;
    }
  }
}

.enviroment-activity-container {
  width: 100%;
  border-radius: 1px;
  border: solid 1px rgba(46, 91, 255, 0.08);
  background-color: #ffffff;
  margin-top: 36px;
  padding: 32px 24px;
  padding-bottom: 50px;
  @include md {
    width: 85%;
    margin: 36px auto;
    padding-bottom: 20px;
  }
  @include sm {
    width: 95%;
  }
}

.enviroment-activity-title {
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.21px;
  color: #8798ad;
  text-transform: uppercase;
  @include md {
    text-align: center;
  }
}

.enviroment-card-container {
  margin-top: 28px;
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
  @include lg {
    justify-content: space-around;
  }
  @include md {
    justify-content: center;
  }
}

.enviroment-table-container {
  margin-top: 40px;
  padding-bottom: 250px;
  overflow-x: scroll;
  table {
    width: 100%;
    border-collapse: collapse;
  }
  thead {
    background-color: #ccd6fc;
    th {
      padding: 13px 29px;
      text-align: left;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #15225a;
    }
  }
  tbody {
    td {
      padding: 13px 29px;
      border-bottom: solid 1px #cbd5fc;
      font-size: 12px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #15225a;
      background: #ffffff;
      p {
        display: flex;
        align-items: center;
      }
      .table-icon {
        font-size: 16px;
        margin-right: 10px;
      }
    }
  }
}
