$Egyptianblue-color: #1e2a9c;
$Midnightblue-color: #15225a;
$Brandeisblue-color: #0273ff;
$Flame-color: #f25829;
$Glitter-color: #e0eaf8;
$Lightslategray-color: #797ca8;

$Egyptianblue-rgba: rgba(30,42,156,1);
$Midnightblue-rgba: rgba(21,34,90,1);
$Brandeisblue-rgba: rgba(2,115,255,1);
$Flame-rgba: rgba(242,88,41,1);
$Glitter-rgba: rgba(224,234,248,1);
$Lightslategray-rgba: rgba(121,124,168,1);

$font-family-sans-serif: "Rubik", sans-serif;
//este color no estaba en palette pero si en un boton
$secondary-blue: #2e5bff;
$secondary-gray: #b0bac9;

@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");


$theme-colors: (
    "primary": $Brandeisblue-color,
    "flame": $Flame-color,
    "secondary-blue": $secondary-blue,
    "secondary-gray": $secondary-gray
);

@import "../../node_modules/bootstrap/scss/bootstrap.scss";


