@import "../../sass/main.scss";

.logo-partone {
  font-family: Rubik;
  color: $Midnightblue-color;
  font-weight: bolder;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

.logo-parttwo {
  font-family: Rubik;
  color: $Brandeisblue-color;
  font-weight: bolder;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

.monkeys-nav {
  width: calc(100vw - 80px);
  height: 80px;
  margin-left: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  grid-area: navbar;
  background: white;
}

.monkeys-nav-container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  flex-wrap: wrap;
}