@import "../../atoms/main.scss";
@import url("https://fonts.googleapis.com/css?family=Rubik:300,400,600");

.logo-partone {
  font-family: Rubik;
  color: $Midnightblue-color;
  font-weight: bolder;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

.logo-parttwo {
  font-family: Rubik;
  color: $Brandeisblue-color;
  font-weight: bolder;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

.monkeys-nav {
  height: 80px;
  width: calc(100vw - 80px);
  margin-left: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  background: white;
  top: 0;
}

.monkeys-nav-container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  flex-wrap: wrap;
}

.avatar-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar-icon-container {
  height: 40px;
  width: 40px;
}

.avatar-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: $Midnightblue-color;
}

.avatar-status {
  top: 0;
  left: 30px;
  height: 12px;
  width: 12px;
  border: 1px solid white;
  background-color: $Brandeisblue-color;
  border-radius: 50%;
}
