@import '../../sass/main.scss';

.monkeys-sidebar {
  /*     min-height: 100vh;
    position: fixed;
  top: 0;
    width: 80px; */
  display: flex;
  align-items: center;
  flex-direction: column;
  grid-area: sidebar;
}

.monkeys-menu {
  transform: rotateX(180deg) rotateY(0deg) rotateZ(90deg);
  font-size: 30px;
}

.font-21 {
  font-size: 21px;
}
